<div class="about_commic">

       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('6about/6about_001.jpg',class:"img-responsive") %>
       </div>

       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('6about/6about_002.jpg',class:"img-responsive") %>
       </div>

       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('6about/6about_003.jpg',class:"img-responsive") %>
       </div>

       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('6about/6about_004.jpg',class:"img-responsive") %>
       </div>

       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('6about/6about_005.jpg',class:"img-responsive") %>
       </div>

       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('6about/6about_006.jpg',class:"img-responsive") %>
       </div>

       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('6about/6about_007.jpg',class:"img-responsive") %>
       </div>
</div>
