<%= form_tag(sending_path, method: "get") do %>
  <%= hidden_field_tag 'placeName', @placeName %>
  <% @usersId.each do |u| %>
    <%= hidden_field_tag 'usersId[]', u %>
  <% end %>
  <h1><%= label_tag :"コミュニティ名" %></h1>
  <%= text_field_tag :'comunity' %> 
  <h1><%= label_tag :"日時" %></h1>
  <%= text_field_tag :"date" %>
  <br><br>
  <%= submit_tag("コミュニティ作成") %>
<% end %>