<div class="friends">
         <% if !@users.empty? %>
           <p><%= @place_name %>に集合できる人たちです!</p>
          <p>一緒に食べたい人を選んでください</p>

            <%= form_tag(recipe_path, method: "get") do %>
              <%= hidden_field_tag 'placeName', @place_name %>
              <% @users.each do |u| %>
              <%= check_box_tag 'user_id[]', u.user_id,checked = false, :id => u.user_id %>
              <%= label_tag 'u.user.name', u.user.name %>
              <% end %>
            <%= submit_tag("選択!!") %>
            <% end %>

         <%  else %>
            <p> まだ<%= @place_name %>に集まれる人はいないようです…</p>
         <% end %>
</div>
