<div class="center jumbotron">


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <br>
  <%= link_to "レシートを登録する", receipt_input_path, class: "btn btn-lg btn-primary" %>

  <%= render 'shared/list' %>

  <%= link_to "自分のプロフィール", new_profile_path, class: "btn btn-lg btn-primary"%>
  <br>
  <%= link_to "コミュニティを作ろう！", map_path, class: "btn btn-lg btn-primary"%>


</div>

