<div class="center jumbotron">

<% if logged_in? %>
      <% if find_line? %>
       <br>
       <br>
       <%#今は，レシート読み込みしないため．%>
       <%# link_to "レシートを登録する", receipt_input_path, class: "btn btn-lg btn-primary" %>
       <%= link_to "食べ物を登録する", new_items_path, class: "btn btn-lg btn-primary" %>
       <br>
       <br>
       <%= link_to "自分のプロフィール", new_profile_path, class: "btn btn-lg btn-primary"%>
       <br>
      <% if defined_profile? %>
          <br>
          <%= link_to "コミュニティを作ろう！", map_path, class: "btn btn-lg btn-primary"%>
          <br>
      <% end %>
       <br>
       <%= render 'shared/list' %>

       <% else %>
       <br>
       <h1>LINE通知の設定</h1>
       <p>レシコミはお客様への通知をLINEサービスにより行います．</p>
       <%= link_to "LINEを登録する", authorize_path, class: "btn btn-lg btn-primary"%>
       <br>
       <br>
       <br>
       <br>
       <h2>LINE認証のやりかた</h2>
       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('LINE-1.jpg',class:"img-responsive") %>
       </div>
       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('LINE-2.jpg',class:"img-responsive") %>
       </div>
       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('LINE-3.jpg',class:"img-responsive") %>
       </div>
       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              <%= image_tag('LINE-4.jpg',class:"img-responsive") %>
       </div>
       <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
              LINEからメッセージが届けば登録完了です
              <%= image_tag('LINE-message.jpg',class:"img-responsive") %>
       </div>
              <p>レシコミはお客様への通知をLINEサービスにより行います．<br />
              <p>お手数ですが，LINEアプリケーションアカウントにご自身のキャリアのメールアドレスをご登録で無い方はご登録の後，レシコミへLINEアカウントを登録してください．<p />
              <% end %>
<% else %>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    <p> 既にこのアプリで<%= @usersum %>人の参加者の皆さんによって，<%= @counter %>件のコミュニティが作成されました!</p>
    <%= render 'static_pages/about_commic' %>

    <br />
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary center-block" %>
<% end %>
</div>
