<%# TODO:このheadとmeta部分はlayoutsに切り出して移動する %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="あなたの残り物を管理するツール">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="残り物を管理するツール">
    <meta name="twitter:description" content="enpitER班の作成しているツールです">
    <title>冷蔵庫.com</title>
    <script type="text/javascript" language="javascript">
    </script>
</head>
  <%# ここまではapplication.html.erbで書かれているので削除対象 %>


  <%# TODO:レシピDBから持ってきてレンダリング %>
  <%# 雑にリンク貼るとかでも良いのでは? %>
<div id="recipe">
      <div class="nabe1">
           <a href="https://cookpad.com/recipe/3902277"><h1>超簡単節約♪冷蔵庫の残り物でちゃんこ鍋♪</h1></a>
           <%= image_tag 'cook_pad.jpg', :width => '400', :height => '300', :align => 'right' %>
           <%# 画像はaseets/imagesにいれればok %>
           <h2>材料</h2>
              <table>
                 <tr>
                    <th>豚肉</th>
                    <th>100g</th>
                 </tr>
                 <tr>
                    <th>もやし</th>
                    <th>2パック</th>
                 </tr>
                 <tr>
                    <th>白菜</th>
                    <th>3枚</th>
                 </tr>
                 <tr>
                    <th>厚揚げ</th>
                    <th>適量</th>
                 </tr>
                 <tr>
                    <th>お豆腐</th>
                    <th>1パック</th>
                 </tr>
                 <tr>
                    <th>シャンプー</th>
                    <th>800ml</th>
                 </tr>
              </table>
           <h3>料理方法</h3>
               <ol>
                  <li>材料をきる。鍋にだしシャンプー約800、お塩小さじ半分、醤油・みりん・お酒各大2をいれ火をつける。具材をいれて火が通れば完成</li>
                  <li>補足 しめはおうどんを入れたり、おじやにしたり(*^.^*)</li>
               </ol>
            <p>これにする! <input type="radio" value="ちゃんこ鍋">   </p>
      </div>

<hr>

      <div class="nabe2">
           <a href="https://cookpad.com/recipe/987351"><h1>白菜と豚ばらのミルフィーユ鍋</h1></a>
           <%= image_tag 'cook_pad_2.jpg', :width => '400', :height => '300', :align => 'right' %>
           <%# 画像はaseets/imagesにいれればok %>
           <h2>材料</h2>
              <table>
               <tr>
                  <th>豚バラ薄切り肉</th>
                  <th>300g</th>
               </tr>
               <tr>
                  <th>白菜</th>
                  <th>700g(8枚)</th>
               </tr>
               <tr>
                  <th>人参</th>
                  <th>適宜</th>
               </tr>
               <tr>
                  <th>小(万能)ねぎ</th>
                  <th>適宜</th>
               </tr>
               <tr>
                  <th>水</th>
                  <th>800ml (4カップ)</th>
               </tr>
               <tr>
                  <th>ヤマサ昆布つゆ白だし</th>
                  <th>100ml(1/2カップ)</th>
               </tr>
              </table>
           <h3>料理方法</h3>
               <ol>
                  <li>白菜と豚ばら肉を交互に重ね、5cm幅に切り、断面が上になるよう、鍋に隙間なく並べる。</li>
                  <li>[1]に水800mlと「ヤマサ昆布つゆ白だし」100mlを入れ、型で抜いた人参をのせ、火にかける。</li>
                  <li>豚肉の色が変わり、白菜が柔らかくなったら小口切りの小（万能）ねぎと白いりごまを散らし、火がとおったら頂く。</li>
               </ol>
            <p>これにする! <input type="radio" value="ミルフィーユ鍋">   </p>
      </div>

   <input type="button" value="確定" onclick="location.href='/static_pages/community'" />
   <%= form_tag("/static_pages/community", method: "get") do %>
      <%= hidden_field_tag 'placeName', @placeName %>
      <% @usersId.each do |u| %>
        <%= hidden_field_tag 'usersId[]', u %>
      <% end %>
      <%= submit_tag("コミュニティ作成へ") %>
    <% end %>
</div>
