    <h1>Profiles編集</h1>
    <p>集合場所を設定してください</p>
    <%= form_for @user.profile, :url => {:controller => :profiles, :action => :user} do |f| %>
        <%= f.select(:place_id,options_for_select([['琉大工学部', 1], ['北口ローソン', 2],['キリ学',3]]) )%>
    <p>生年月日を入力して下さい</p>
        <%=f.label :birthday%>
        <%=f.date_select(
          :birthday,
          use_month_numbers: true,
          start_year:1930,
          end_year: (Time.now.year - 15),
          default: Date.new(1989, 1, 1),
          date_separator: '/')%>
    <p>職業を設定して下さい</p>
        <%= f.label :job, "職業"%>
        <%= f.text_field :job%>

    <p>趣味を設定して下さい</p>
        <%= f.label :hobby, "趣味"%>
        <%= f.text_field :hobby%>

    <p>レシコミをご利用になる目的を設定して下さい．(例1:残り物を無くすため;例2:友達を増やしたい等)</p>
        <%= f.label :purpose, "目的"%>
        <%= f.text_field :purpose%>

        <%= f.submit "登録" %>
    <% end %>

    <% if @user %>
        <%= @user.name %>,
        <%= @user.email %>
    <% end  %>
