<% if logged_in? %>
   <h1>Profiles設定</h1>
   <p>集合場所を設定してください</p>

   <%= form_for @user.profile, :url => {:controller => :profiles, :action => :create} do |f| %>
     <%= f.select(:place_id,options_for_select([['琉大工学部', 1], ['北口ローソン', 2],['キリ学',3]]) )%>
     <%= f.submit "登録" %>
   <% end %>

   <% if @user %>
     <%= @user.name %>,
     <%= @user.email %>
   <% end  %>
<% end %>
