
<% provide(:title, 'Sign up') %>
<h1>新規登録</h1>
<p>ユーザーの新規登録を行います</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name ,"名前を設定してください"%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :screen_name, "レシコミIDを設定してください(半角英数字)"%>
      <%= f.text_field :screen_name, disbale: 'ime-mode', class: 'form-control' %>

      <%= f.label :password,"パスワードを設定してください"%>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワードをもう一度入力してください" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>


      <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
