<!--ここに取得したレシート内容の一覧を表示する。-->
<h2>以下のレシート情報が読み込まれました。</h2>
<br>
<br>
<% if !@text.nil? %>
  <%= form_tag(items_path, :method => :post,:action => :create) do %>
  <table border=1 id="receipt">
    <tr><th>商品名</th><th>削除</th></tr>
    <% stext = @text %>
    <% @items.each_with_index do |item, i| %>
    <% @item = item %>
    <tr>
      <td><%= text_field_tag "food[]" ,stext[i] %></td>
      <td><%= link_to "削除", receipt_confrimate_path(text: stext, dl: stext[i]), :method => :post,class: "btn btn-lg" %></td>
    </tr>
    <% end %>
  </table>
  <br><br>
  <%= submit_tag "確定!!",class: "btn btn btn-primary" %>
  <% end %>
<% elsif !@message.nil? %>
  <%= @message %>
<% end %>