<h1>レシートの登録を行ってください</h1>
<br>
<% browser = Browser.new( request.env['HTTP_USER_AGENT'] ) %>
<% if browser.device.mobile? %>
  カメラでの撮影、またはファイルを選択してください<br>
  <%= form_tag '/receipt/confrimate', method: 'post', multipart: true do %>
	    <%= file_field :fileupload, :file %>
	    <br><br>
	    <%= submit_tag '送信', class: "btn btn-lg btn-primary" %>
	<% end %>
<% else %>
  ファイルを選択してください<br>
  <%= form_tag '/receipt/confrimate', method: 'post', multipart: true do %>
	    <%= file_field :fileupload, :file %>
	    <br><br>
	    <%= submit_tag '送信' , class: "btn btn-lg btn-primary"%>
	<% end %>
<% end %>
<br>
<!-- urlは残り物リストに飛ばしてねー -->
<br><br><br>
現在の残り物はこちら
<input type="button" onclick="location.href='/list'"value="残り物リストに飛ぶよー">
