<div id="inputitem">
  <h1>今ある物を登録しよう</h1>
  <p>レシコミは今もっている食べ物を管理することが出来ます<br />
    冷蔵庫にある食べ物や，購入した管理したい食べ物を入力して下さい</p>
    <%= form_for @item do |f| %>
        <%= f.label :food, "今ある物"%>
        <%= f.text_field :food%><br>
        
        <%= f.submit "登録",class: "btn btn btn-primary" %>
    <% end  %>
    <br />
    <%= link_to "トップページに戻る", root_path ,class: "btn btn-sm btn-default"%>
</div>
